@page "/"

<PageTitle>Index</PageTitle>

<p>
    Select one of the two sample boards on the left. Switching back-and-forth between boards doesn't seem to work yet, so click Fetch Data or Home in between selecting the different boards
</p>
